
/****************
General styles
****************/

body{
	font-family: 'Lato', sans-serif;
	color: #000;
	padding-top: 8em;
}

.area{
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 3em;
	margin-bottom: 3em;
}

.big-padding {
	padding-bottom: 4em;
}

a {
	transition:all .25s ease-in;
}

.input-group-vertical {
	margin-bottom: 10px;
	.form-control {
		border-radius: 0;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-group:not(:last-child) .form-control:not(:focus) {
		border-bottom-color: transparent;
	}
	.form-group:first-child .form-control {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.form-group:last-child .form-control {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		top: -2px;
	}
}
/****************
Typography
****************/

h1,h2,h3 {
	font-weight: 100;
}

h2 {
	line-height: 1.4em;
}

.sub-title {
	margin-bottom: 1.5em;
}

.btn-primary {
	background-color:#174391;
	border-color:#174391;
}

/****************
Navigation 
****************/

.navbar-default{
	background-color: #fff;
}

#logo-img {
	animation: shake 1s;
	animation-iteration-count: 3;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:#174391;
}

.navbar-default .navbar-brand {
	color:#174391;
}

/****************
Page Header 
****************/

#single-header {
	margin-bottom: 3em;
}

#single-header h1 {
	line-height:0.8em;
}

#single-header h1 small {
	font-size:0.5em;
}

/****************
Homepage
****************/

.team p {
	font-size: 2em;
	font-weight: 100;
	margin-top:0.5em;
	text-align:center;
}

/****************
Pokedex display
****************/

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex-item {
	-webkit-flex: 1 auto;
	flex: 1 0 100px;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.flex-item img {
	display: inline-block;
	max-width:105px;
}

.flex-item:last-child img {
	display:inline-block;
}

img.unseen{
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity:0.5;
}

.pokemon-single a:hover img	 {
	background-image: url('../img/blue-hover.png');
	background-size: 100% 100%;
}

.pkmn-name {
	font-weight:bold;
	margin-bottom: 0;
	padding-bottom: 0;
}

/****************
Pokémon single pages
****************/

#map{
	height: 80vh;
}

#poke-img {
	display:flex;
	justify-content: center;
	align-items: center;
}

#poke-img img {
	display:inline-block;
}

.breadcrumb {background-color:white;}

.nav-links {
	font-size:24px;
	margin-top:10px;
}

.nav-links a {
	color:#777;
	transition:color .25s ease-in;
}

#share {
	margin-top:1.5em;
	text-align:center;
}

.subnav {
	margin:2em 0;
}

.nav-links a:hover {
	color:#174391;
}

.stats-data {
	text-align:center;
	line-height:1.5em;
	margin: 1em 0;
}

.stats-data .progress-bar {
	margin-bottom: 1em;
}

.stats-data p {
	padding-top:5em;
}

.stats-data big {
	font-size:3em;
	font-weight:bold;
}

/****************
FAQ
****************/

.faq {
	margin-bottom: 4em;
}

/****************
Widgets blocks (used to display big numbers on pages)
Also private joke ;)
****************/

.big-data {
	text-align:center;
	margin-top: 2em;
	margin-bottom:2em;
}

.big-data a {
	color:#777;
	transition:color .25s ease-in;
}

.big-data a:hover {
	text-decoration:none;
	color:#174391;
}

.big-data a:focus {
	text-decoration:none;
}

.big-data big {
	font-size:3rem;
	font-weight:normal;
}

.big-data h3 {
	margin:0;
}

.big-data .big-icon {
	margin-bottom: 1em;
}

.big-data .team-logo {
	display:inline-block;
}

/* Quick fix to allow looping between teams */

.teams .big-data:nth-child(2) {
	border-right:1px lightgray solid;
	border-left:1px lightgray solid;
}

/****************
Website footer
****************/

footer {
	background-color:#174391;
	margin-top:4em;
	padding-bottom: 4em;
	color:white;
}

footer a {
	color:white;
	border-bottom:1px white solid;
	text-decoration: none;
}

footer .big-icon {
	margin-top:-25px;
	animation: shake 1s infinite;
	animation-iteration-count: 3;
}

footer a svg {
	border-bottom:0px white solid;
	text-decoration: none;
}

footer a:hover {
	color:white;
	border-bottom:0px white solid;
	text-decoration: none;
}

/****************
CSS Animation
****************/

@keyframes shake {
	0% {
		transform: rotate(7deg);
	}
	25% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/****************
Gym details styles
****************/
div#gym_details_template_container {
	display: none;
}

div#gymInfos{
	position: relative;
	width: 370px;
	border-radius: 5px;
	border: 2px solid grey;
	z-index:9000;
	background-color: #ffffff;
}

div#circleImage:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: 44px;
	bottom: 100%;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 35px solid #fff;
	pointer-events: none;
}

div#circleImage {
	position: relative;
	left:-30px;
	top:-12.5px;
	width: 125px;
	height: 125px;
	border-radius: 75px;
	background-size: cover;
	border: 4px solid white;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
}

div#gymName{
	position: absolute;
	left:120px;
	top: 10px;
	width: 225px;
	font-size: large;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div#levelMeter{
	position: absolute;
	left:120px;
	top: 40px;
	width: 225px;
	font-size: large;
}
div#levelMeter .progress{
	width: 225px;
	height: 20px;
}


.bar-step {
	position:absolute;
	z-index:1000;
	font-size:14px;
	top: 2px;
}
.label-line {
	background: #000;
	height:20px;
	width:1px;
	top: -2px;
	position: absolute;
}


.label-percent {
	position: relative;
	top: -1px;
	text-align: center;
	color: black;
}

.active .label-percent {
	color: white;
}

div#gymPrestige{
	position: absolute;
	left:120px;
	top: 70px;
	font-size: 14px;
	
}
div#gymLastScanned{
	position: absolute;
	left:120px;
	top: 95px;
}

div#gymDefenders{
	margin-top: 15px;
	top: 15px;
	padding : 0px 15px 5px 15px;
}


/****************
trainers details styles
****************/

.trainersTemplate {
	display: none;
}


/****************
trainers search styles
****************/

#searchTrainer button {
	height: 40px;
}

#searchTrainer input {
	height: 40px;
}

.loader {
	border: 16px solid whitesmoke;
	border-radius: 50%;
	border-top: 16px solid grey;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: auto;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/****************
raids styles
****************/

#raidsContainer .pokemon-single {
	position: relative;
}
#raidsContainer .pokemon-single img {
	height: 4em;
}
#raidsContainer .pokemon-single span {
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	left: 23px;
	top: 10px;
}

#raidsContainer .current, #raidsContainer .upcoming {
	color: #fff;
	border-radius: 1em;
	padding: 1px 6px 2px 6px;
}
#raidsContainer .current {
	background-color: #fe6d3c;
}
#raidsContainer .upcoming {
	background-color: #f98796;
}

#raidsContainer .pokemon-details {
	line-height: 2em;
}

#raidsContainer td:first-child {
    color: #fff;
    text-shadow: 0 0 6px black;
}

#raidsContainer td:last-child {
	min-width: 175px;
}

@media (max-width: 768px) {
	#raidsContainer .pokemon-single img {
		height: 3em;
	}
	#raidsContainer .pokemon-single span {
		font-size: 1.5em;
		left: 17px;
		top: 8px;
	}
	#raidsContainer td:last-child {
		display: none;
	}
	#raidsTable>tbody>tr>td, #raidsTable>tbody>tr>th, #raidsTable>tfoot>tr>td, #raidsTable>tfoot>tr>th, #raidsTable>thead>tr>td, #raidsTable>thead>tr>th {
		padding: 6px
	}
}